<nav class="barra-navegacion">
  <div class="contenedor-nav">
    <h2>{{ tituloPlataforma }}</h2>
    <div class="enlaces-navegacion">
      <a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
      <a routerLink="/cursos" routerLinkActive="activo">Cursos</a>
      <a routerLink="/recursos" routerLinkActive="activo">Recursos</a>
      <a routerLink="/ayuda" routerLinkActive="activo">Ayuda</a>
      <a routerLink="/login" routerLinkActive="activo">Login</a>
      <a routerLink="/perfil" routerLinkActive="activo">Perfil</a>
    </div>
  </div>
</nav>